.head{
    background-color: yellow;
    border: 1px;
   padding: 0 auto;
}

.logo{
    width: 10%;
    
}

.head h1{
    display: inline-block;
    position: relative;
    bottom:50px;
}

.navbar{
   
    /* position: sticky; */
    background-color: orange;
    top: 0;
    
}
body{
    margin:0px;
    
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    height: auto;
    
    
}
.navbar li{
    
   
   border-left: 1px white solid;
   display:inline-block;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    display: block;
}

.navbar li a:hover {
    background-color: white;
    color: black;
}

.header-image{
    background: url('file:///D:/Xampp/htdocs/BelajarTemplate/pic/header.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 80px;
    
    
}

.kotak{
    border:1px solid;
    width:250px;
    height:350px;
    margin:100px;
    display: inline-block;
}

